$ Input file for interpolation of GLO30m_ext Grid
$------------------------------------------------
$ Start Time DT NSteps
 TIME DT NSTEPS
$ Total number of grids 
 4
$ Grid extensions 
  'glo_10m'
  'aoc_9km'
  'ant_9km'
  'glo_15mext'
$
 0
$
