$ WAVEWATCH III multi-grid input file
$ ------------------------------------
  NMGRIDS NFGRIDS FUNIPNT PNTSRV FPNTPROC FGRDPROC
$
CPLILINE
WINDLINE
ICELINE
CURRLINE
UNIPOINTS
GRIDLINE
$
   RUN_BEG   RUN_END
$
   T  T
$
   OUT_BEG  DTFLD  OUT_END
   N
   OUTPARS
$
   OUT_BEG  DTPNT  OUT_END
BUOY_FILE
$
   OUT_BEG      0  OUT_END
$
   RST_BEG   DTRST  RST_END
$
   OUT_BEG      0  OUT_END
$
   OUT_BEG      0  OUT_END
$
  'the_end'  0
$
  'STP'
$
$ End of input file

