$ WAVEWATCH-III wind preprocessor input file
$ ------------------------------------------
  'WND' 'LL' T HDR
$
 longitude latitude
$
$ Variables to use --------------------------------------------------- $
$
 UGRD_10maboveground VGRD_10maboveground 
$
  'gwnd.nc'
$ end of input file
