module use -a /nwprod/lib/Modules/modulefiles 
module avail

w3nco_ver=v2.0.6
bacio_ver=v2.0.1
sp_ver=v2.0.1
sigio_ver=v1.0.1

module load w3nco/$w3nco_ver
module load bacio/$bacio_ver
module load sp/$sp_ver
module load sigio/$sigio_ver
