w3nco_ver=v2.0.6
bacio_ver=v2.0.1
sp_ver=v2.0.1
sigio_ver=v1.0.1

export W3NCO_LIB4=/nwprod/lib/libw3nco_${w3nco_ver}_4.a
export W3NCO_LIB8=/nwprod/lib/libw3nco_${w3nco_ver}_8.a
export BACIO_LIB4=/nwprod/lib/libbacio_${bacio_ver}_4.a
export SP_LIBd=/nwprod/lib/libsp_${sp_ver}_d.a
export SIGIO_LIB4=/nwprod/lib/libsigio_${sigio_ver}_4.a
export SIGIO_INC4=/nwprod/lib/incmod/sigio_${sigio_ver}_4

