#
# ***** configuration of gefs build *****

 Building global_ensadd (global_ensadd) ................ yes
 Building gefs_ensstat (gefs_ensstat) .................. yes
 Building global_ensppf (global_ensppf) ................ yes
 Building wave_stat (wave_stat) ........................ yes
 Building gefs_nemsio2nc (gefs_nemsio2nc) .............. yes
 
# -- END --

